@model EastIndia.Models.Dtos.Package


@{
	ViewBag.Title = "Search";
}
<h1 style="text-align:center">Search for routes</h1>


<div class="row">
        @using (Html.BeginForm("CalculateRoute", "Route", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
    <div class="col-md-10">

            @Html.AntiForgeryToken()

            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                @Html.LabelFor(m => m.FromCity, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    <select class="form-control" id="FromCity" name="FromCity">
						<option value="E7D2AAAE-7430-4909-B6CF-A3A2BFF8F14D">Addis Abeba</option>
						<option value="3D70447D-E0E3-4A42-81BE-A3AE9A4F27DF">Bahrel Ghazal</option> 
						<option value="D6B61B84-AFD4-43D1-832B-00622F784D34">Cairo</option>
						<option value="33F07729-AB0F-42A8-A71A-D3DBF5136739">Congo</option>
						<option value="4CDB5CC7-C33B-4B33-8B07-7DE8A7BE21B5">Dakar</option>
						<option value="C274BF26-FE9C-4186-A633-11F71B00E912">Darfur</option>
						<option value="1581562F-1B09-4FA3-84FA-4A358A31B599">De Kanariske Oeer</option>
						<option value="D26B1884-7662-4A29-AA0F-B49E8167B3FA">Dragebjerget</option>
						<option value="6BB67B95-3E79-4F82-A61A-CCA665E124F9">Guld Kysten</option>
						<option value="37C39C15-9F81-4846-AEE9-5F34EF280650">Hvalbugten</option>
						<option value="1D7F4C8D-9785-429A-A483-D3BAE91702C0">Kabalo</option>
						<option value="8CFAF0A7-E5E2-423C-82AD-3AEA9D59F7C5">Kap Guardafui</option>
						<option value="DF008523-D851-4F40-BA17-31CDD996339A">Kap St.Marie</option>
						<option value="9BE01AFF-6942-4474-84A8-DF5D6550FEB7">Kapstaden</option>
						<option value="8C1B7824-71B6-438E-B992-F9654B604D04">Luanda</option>
						<option value="943A02BE-65E2-4563-93D9-8528B782372C">Marrakesh</option>
						<option value="B0B5E97F-3E64-46C3-B7D5-A6624945B686">Mozambique</option>
						<option value="1A777B33-94C9-4597-8FE8-E12C48B3B706">Omdurman</option>
						<option value="A53F55BA-CA8A-4459-A0C0-785FA6CAD0C7">Sahara</option>
						<option value="AFEB206C-C669-4064-B4CB-003733DBB06A">Sierra Leone</option>
						<option value="CC023D13-9A83-43D3-8F9F-3510610FD024">Slavekysten</option>
						<option value="ABCFF9E4-BB43-4FF6-AD9C-248986582F62">St.Helena</option>
						<option value="460604BE-16B9-4947-B532-9418F149AD41">Suakin</option>
						<option value="D17A6EFF-9B72-436F-A863-A42B32303C16">Tamatave</option>
						<option value="6D0A71F0-E58A-44BF-959C-A4DB3AADCD8C">Tanger</option>
						<option value="2EAFAE5F-C0AF-4441-AA59-8547436F4ACD">Timbuktu</option>
						<option value="DE0A0EF1-DA6E-434C-9710-EF0311D33122">Tripoli</option>
						<option value="506FEF2D-434E-4BFC-A029-4CA4D4349245">Tunis</option>
						<option value="93FC77DF-DB28-42A4-812A-7FF90F74C7E7">Victoria Faldene</option>
						<option value="BE66E0DB-450E-43C4-BDF5-DBE51E76FDDC">Victoriasoeen</option>
						<option value="0E450818-5636-4331-9BA8-2650F9AEAA90">Wadai</option>
						<option value="3AC1B256-D7A9-44DF-A08F-234CC4145B04">Zanzibar</option>
					</select>
                    @Html.ValidationMessageFor(m => m.FromCity, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ToCity, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    <select class="form-control" id="ToCity" name="ToCity">
						<option value="E7D2AAAE-7430-4909-B6CF-A3A2BFF8F14D">Addis Abeba</option>
						<option value="3D70447D-E0E3-4A42-81BE-A3AE9A4F27DF">Bahrel Ghazal</option> 
						<option value="D6B61B84-AFD4-43D1-832B-00622F784D34">Cairo</option>
						<option value="33F07729-AB0F-42A8-A71A-D3DBF5136739">Congo</option>
						<option value="4CDB5CC7-C33B-4B33-8B07-7DE8A7BE21B5">Dakar</option>
						<option value="C274BF26-FE9C-4186-A633-11F71B00E912">Darfur</option>
						<option value="1581562F-1B09-4FA3-84FA-4A358A31B599">De Kanariske Oeer</option>
						<option value="D26B1884-7662-4A29-AA0F-B49E8167B3FA">Dragebjerget</option>
						<option value="6BB67B95-3E79-4F82-A61A-CCA665E124F9">Guld Kysten</option>
						<option value="37C39C15-9F81-4846-AEE9-5F34EF280650">Hvalbugten</option>
						<option value="1D7F4C8D-9785-429A-A483-D3BAE91702C0">Kabalo</option>
						<option value="8CFAF0A7-E5E2-423C-82AD-3AEA9D59F7C5">Kap Guardafui</option>
						<option value="DF008523-D851-4F40-BA17-31CDD996339A">Kap St.Marie</option>
						<option value="9BE01AFF-6942-4474-84A8-DF5D6550FEB7">Kapstaden</option>
						<option value="8C1B7824-71B6-438E-B992-F9654B604D04">Luanda</option>
						<option value="943A02BE-65E2-4563-93D9-8528B782372C">Marrakesh</option>
						<option value="B0B5E97F-3E64-46C3-B7D5-A6624945B686">Mozambique</option>
						<option value="1A777B33-94C9-4597-8FE8-E12C48B3B706">Omdurman</option>
						<option value="A53F55BA-CA8A-4459-A0C0-785FA6CAD0C7">Sahara</option>
						<option value="AFEB206C-C669-4064-B4CB-003733DBB06A">Sierra Leone</option>
						<option value="CC023D13-9A83-43D3-8F9F-3510610FD024">Slavekysten</option>
						<option value="ABCFF9E4-BB43-4FF6-AD9C-248986582F62">St.Helena</option>
						<option value="460604BE-16B9-4947-B532-9418F149AD41">Suakin</option>
						<option value="D17A6EFF-9B72-436F-A863-A42B32303C16">Tamatave</option>
						<option value="6D0A71F0-E58A-44BF-959C-A4DB3AADCD8C">Tanger</option>
						<option value="2EAFAE5F-C0AF-4441-AA59-8547436F4ACD">Timbuktu</option>
						<option value="DE0A0EF1-DA6E-434C-9710-EF0311D33122">Tripoli</option>
						<option value="506FEF2D-434E-4BFC-A029-4CA4D4349245">Tunis</option>
						<option value="93FC77DF-DB28-42A4-812A-7FF90F74C7E7">Victoria Faldene</option>
						<option value="BE66E0DB-450E-43C4-BDF5-DBE51E76FDDC">Victoriasoeen</option>
						<option value="0E450818-5636-4331-9BA8-2650F9AEAA90">Wadai</option>
						<option value="3AC1B256-D7A9-44DF-A08F-234CC4145B04">Zanzibar</option>
					</select>
                    @Html.ValidationMessageFor(m => m.ToCity, "", new {@class = "text-danger"})

                </div>
            </div>
			<div class="form-group">
                @Html.LabelFor(m => m.Weight, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.ValidationMessageFor(m => m.Weight, "", new {@class = "text-danger"})
					<input class="form-control" id="Weight" name="Weight" type="text" value="" style="margin-bottom: 10px" placeholder="Weight">
                </div>
            </div>
			

    </div>
		<div class="col-md-10">

		<h4>Type:</h4>
		
		<div class="form-group">
                @Html.LabelFor(m => m.IsCautious, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.ValidationMessageFor(m => m.IsCautious, "", new {@class = "text-danger"})
					@Html.CheckBoxFor(m => m.IsCautious, new {@class = "col-md-2 control-label"})
                </div>
        </div>
		<div class="form-group">
                @Html.LabelFor(m => m.IsAnimals, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.ValidationMessageFor(m => m.IsAnimals, "", new {@class = "text-danger"})
					@Html.CheckBoxFor(m => m.IsAnimals, new {@class = "col-md-2 control-label"})
                </div>
        </div>
				<div class="form-group">
                @Html.LabelFor(m => m.IsWeapons, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.ValidationMessageFor(m => m.IsWeapons, "", new {@class = "text-danger"})
					@Html.CheckBoxFor(m => m.IsWeapons, new {@class = "col-md-2 control-label"})
                </div>
        </div>
		<div class="form-group">
                @Html.LabelFor(m => m.IsRefrigerated, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.ValidationMessageFor(m => m.IsRefrigerated, "", new {@class = "text-danger"})
					@Html.CheckBoxFor(m => m.IsRefrigerated, new {@class = "col-md-2 control-label"})
                </div>
        </div>
		<div class="form-group">
                @Html.LabelFor(m => m.Other, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.ValidationMessageFor(m => m.Other, "", new {@class = "text-danger"})
					@Html.CheckBoxFor(m => m.Other, new {@class = "col-md-2 control-label"})
                </div>
        </div>
		<div class="col-md-10">
				<input type="submit" value="Search"  class="btn btn-default">
			</div>


	</div>
	        }


	
</div>
